* {
    padding: 0;
    margin: 0;
}

.style-small {
    color: rgba(255, 255, 255, 0.50);
    font-family: Inter;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
}

/* Css starts here */
.header {
    background: linear-gradient(180deg, #111, #2e2c2c, #111);
}

.navbar {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}

/* navbar section 1 */

.nav-sec1 {
    display: flex;
    width: 100%;
    margin-top: 30px;
    height: 40px;
    justify-content: space-between;
}

.nav-sec1>h2 {
    color: #E6533C;
    font-family: Inter;
    font-size: 2.3rem;
    font-style: italic;
    font-weight: 800;
}

.nav-links {
    display: flex;
    padding: 4px;
    width: 450px;
    height: 38px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 25px;
    align-items: center;
    justify-content: center;
}

.nav-item {
    list-style: none;
    color: #FFF;
    font-family: Inter;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 120%;
}

.li-item1 {
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-radius: 25px;
    height: 100%;
    background-color: red;
    width: 90px;
    font-weight: 600;
}

.li-item2 {
    margin-left: 30px;
    margin-right: 50px;
}

.li-item4 {
    margin-left: 50px;
    margin-right: 20px;
}

.nav-item>a {
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
}

/* navbar section 2  */
.nav-sec2 {
    display: flex;
}

.nav-banner {
    padding-top: 50px;
    width: 50%;
}

.nav-banner h2 {
    color: #FFF;
    font-family: Inter;
    font-size: 78px;
    font-weight: 900;
}

.nav-banner p {
    color: rgba(255, 255, 255, 0.50);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin-top: 20px;
}

.nav-banner-btn {
    margin-top: 20px;
    gap: 50px;
}

.nav-btn {
    width: 170px;
    height: 50px;
    border-radius: 30px;
    border: none;
    font-size: 1rem;
    color: #FFF;
    font-family: Inter;
    font-size: 1.125rem;
    font-weight: 600;
}

.nav-btn1 {
    background-color: red;
    margin-right: 20px;
}

.nav-btn2 {
    background-color: black;
}

.nav-img {
    width: 50%;
    text-align: center;
    position: relative;
}

.nav-extra {
    padding: 20px;
    width: 190px;
    position: absolute;
    top: 110px;
    right: 10px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(10px);
}

.nav-extra1 {
    display: flex;
    padding: 20px;
    width: 200px;
    height: 70px;
    position: absolute;
    top: 450px;
    left: -50px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
}

.red-circle {
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 100%;
    color: red;
    margin-right: 20px;
}

.nav-extra h2 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 2.2rem;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 1px;
}

.nav-extra1 h2 {
    color: var(--Text-1, #FAFAF9);
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 0.3px;
}

.nav-extra p,
.nav-extra1 p {
    color: var(--Text-2, rgba(239, 237, 232, 0.65));
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
}

@media screen and (max-width:576px) {

    .nav-links {
        display: none;
    }

    .nav-sec1 {
        margin: 50px 20px 0 20px;
    }

    .nav-sec2 {
        margin: auto 20px;
    }

    .nav-sec2,
    .nav-banner-btn {
        flex-direction: column;
    }

    .nav-banner,
    .nav-img {
        width: 100%;
        padding: auto 20px;
    }

    .nav-btn {
        width: 170px;
    }

    .nav-banner-btn,
    .nav-banner {
        text-align: center;
    }

    .nav-img {
        padding-top: 20px;
    }

    .image {
        width: 70%;
    }

    .nav-extra,
    .nav-extra1 {
        width: 140px;
        height: 70px;
    }

    .nav-extra {
        right: 30px;
    }

    .nav-extra1 {
        left: 30px;
        top: 320px;
    }

    .nav-extra h2,
    .nav-extra1 h2 {
        font-size: 1.2rem;
    }

    .nav-extra p,
    .nav-extra1 p {
        font-size: 0.8rem;
    }
}

/* Change your habits section starts  */
.change-your-habit {
    background: #000;
}

.text-container {
    max-width: 1400px;
    padding-top: 80px;
    margin: 0 auto 50px auto;
    text-align: center;
}

.text-container h2 {
    color: #FFF;
    font-family: Inter;
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
}

.img-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
}

.circle-img {
    border-radius: 100%;
}

.img-container-h3 {
    color: #FFF;
    font-family: Inter;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 120%;
}

.text-img-container {
    display: flex;
    max-width: 1200px;
    background: #222;
    margin: 50px auto 0 auto;
    justify-content: space-between;
    padding: 30px;
    border-radius: 30px;
    color: white;
}

.text {
    width: 40%;
}

.text h2 {
    color: #FFF;
    font-family: Inter;
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
}

.text button {
    font-size: 1.5rem;
    border-radius: 30px;
    border: none;
    color: white;
    width: 250px;
    height: 80px;
    margin-top: 20px;
    background-color: red;
}

.img {
    width: 40%;
}

.img img {
    width: 100%;
    border-radius: 30px;
}

@media screen and (max-width:576px) {

    .text-container {
        padding: 0 20px;
    }

    .text-container h2 {
        font-size: 2.8rem;
        margin-bottom: 25px;
    }

    .img-container {
        margin-bottom: 20px;
    }

    .img-container {
        gap: 20px;
        grid-template-columns: repeat(1, 1fr);
    }

    .img-container-h3 {
        margin: 20px auto;
    }

    .text-img-container {
        flex-direction: column;
        margin: 0 20px;
    }

    .text,
    .img,
    .text button {
        width: 100%;
        margin: 10px 0;
    }
}

/* calculator heading section start */
.calculator-heading {
    max-width: 700px;
    margin: 88px auto;
    text-align: left;
}

.calculator-heading h2 {
    color: #FFF;
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
}


/* bmi calculator section starts form here */
.calculate-bmi-section {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.bmi-table-part h3 {
    color: #FFF;
    font-family: Inter;
    font-size: 28px;
    font-weight: 900;
    line-height: 120%;
    margin: 52px auto;
}

.bmi-table {
    border: 1px solid black;
    width: 400px;
    height: 220px;
    border-collapse: collapse;
}

.bmi-table td,
.bmi-table th {
    border: 1px solid black;
    color: rgba(255, 255, 255, 0.50);
    padding-left: 18px;
    padding-top: 13px;
    padding-bottom: 13px;
    font-family: Inter;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 120%;
    text-align: left;
}

.bmi-table th {
    color: #FFF;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 500;
    line-height: 120%;
}

.bmi-calculator {
    max-width: 650px;
}

.bmi-calculator h3 {
    color: #FFF;
    font-family: Inter;
    font-size: 28px;
    font-weight: 900;
    line-height: 120%;
    margin-top: 50px;
    margin-bottom: 14px;
}

/* bmi calculator form starts */
/* some universeral style */
.style-2 {
    color: rgba(255, 255, 255, 0.60);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    line-height: 22px;
    padding-left: 15px;
}

.form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

.activity {
    width: 204%;
}

.form-data {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.10);
    height: 48px;
    border: none;
}

.gender {
    color: rgb(0, 0, 0);
}

.btn {
    width: 224px;
    height: 54px;
    padding: 16px 40px;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    border-radius: 42px;
    background: #E6533C;
    margin-top: 34px;
}

@media screen and (max-width:576px) {
    .calculator-heading {
        max-width: 576px;
        padding-left: 30px;
    }

    .calculate-bmi-section {
        flex-direction: column;
        max-width: 576px;
        padding: 10px;
        margin: 0 30px;
    }

    .bmi-calculator {
        max-width: 576px;
        padding-bottom: 20px;
    }

    .form {
        grid-template-columns: repeat(2, 170px);
    }

    .activity {
        width: 206%;
    }
}

/* meet our team section start */
.meet-our-team {
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    background-color: rgb(0, 0, 0);
}

.meet-our-team h2 {
    color: #FFF;
    font-family: Inter;
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
}


.meet-our-team p {
    padding-top: 10px;
}

.team-img {
    background-color: rgb(26, 29, 35);
    border-radius: 20px;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    justify-items: center;
}

.img-0 {
    width: 374px;
    height: 272px;
    border-radius: 20px;
    position: relative;
}

.img-0 h1 {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 900;
    line-height: 120%;
    position: absolute;
    bottom: 35px;
    left: 20px;
}

.img-0 p {
    position: absolute;
    bottom: 15px;
    left: 20px;
}

@media screen and (max-width:576px) {
    .team-img {
        grid-template-columns: repeat(1, 1fr);
        margin: 0 20px;
    }

    .img-0 {
        width: 350px;
    }

    .img-hide {
        display: none;
    }
}

/* footer stars form here */
.footer-container {
    max-width: 1200px;
    margin: auto;
    padding-top: 60px;
    display: flex;
    justify-content: space-around;
}

.footer-container h2 {
    color: #FFF;
    font-family: Inter;
    font-size: 2rem;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 39px;
}

.fitness-class {
    color: #E6533C;
    font-family: Inter;
    font-size: 4.375rem;
    font-style: italic;
    font-weight: 800;
    line-height: 120%;
    margin-bottom: 20px;
}

.footer-container p {
    color: rgba(255, 255, 255, 0.50);
    font-family: Inter;
    font-size: 1.43rem;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 20px;
}

.footer-1 {
    max-width: 443px;
}

.footer-2,
.footer-3 {
    max-width: 181px;
}

.hr {
    max-width: 1200px;
    margin: 95px auto 0 auto;
    border: 2px solid rgba(255, 255, 255, 0.10);
}

    max-width: 318px;
    color: rgba(255, 255, 255, 0.50);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin: auto;
    padding: 36px;
}

@media screen and (max-width:576px) {
    .footer-container {
        flex-direction: column;
        padding-left: 30px;
    }

    .footer-2,
    .footer-3 {
        margin-top: 50px;
    }
}